#HW_frame_cont { 
  width: 100% !important;
}

.slide-right-enter-active {
  transition: opacity 0.25s ease-out;
}
.slide-right-leave-active {
	animation: slide-right .25s;
  transition: opacity 0.15s ease-in;
}
.slide-right-enter,
.slide-right-leave-active {
  opacity: 0;
}

@keyframes slide-right {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

.slide-left-enter-active {
  transition: opacity 0.25s ease-out;
}
.slide-left-leave-active {
	animation: slide-left .25s;
  transition: opacity 0.15s ease-in;
}
.slide-left-enter,
.slide-left-leave-active {
  opacity: 0;
}

@keyframes slide-left {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.page-enter-active {
  transition: opacity 0.25s ease-out;
}
.page-leave-active {
	animation: page .25s;
  transition: opacity 0.15s ease-in;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
